# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db

# Personal files
Front pageAI.txt
project_structure.txt